.container {
  width: 1254px;
  margin: 0 auto;
}
body {
  background-color: #1e252b;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.55);
}

.header {
  height: 100px;
  padding: 26px 0px;
}

.header_img {
  width: 19px;
  height: 20px;
  margin-top: 38px;
}

.header_logo-text {
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  padding-top: 2px;
}

.header_logo {
  display: flex;
  gap: 21px;
  text-decoration: none;
  align-items: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header_link {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header_links {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 193px;
  padding-right: 41px;
}

.header_menu {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header_img {
  margin: 0 auto;
}

.header_imgg {
  margin-top: 0px;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_btn {
  width: 118px;
  padding: 0;
  height: 48px;
  border-radius: 8px;
  background: #ff6e30;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #fdf5ff;

  border: none;
}

.header_itemm {
  margin: 0;
}

.header_item:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 5px;
}
.search {
  background-image: url(../src/img/Illustration.png);
  background-repeat: no-repeat;
  background-position: right;
}

.search_title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin: 0;
  padding-bottom: 30px;
  padding-top: 111px;
}

span {
  color: #ff6e30;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.search_subtitle {
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.search_form-wrapper {
  display: flex;
  align-items: center;
}

.search {
  padding: 50px 0px;
}

.search_form-wrapper-input {
  color: rgba(255, 255, 255, 0.38);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #283036;
  border: none;
  width: 197px;
}

.search_form-wrapper_btn {
  width: 130.435px;
  padding: 0;
  height: 48px;
  border-radius: 8px;
  background: #ff6e30;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #fdf5ff;
  border: none;
  margin: 8px;
  gap: 20px;
}

.search_form-wrapper_img {
  padding-right: 15px;
}

.search_socials {
  display: flex;
  gap: 31px;
  padding-top: 122px;
  margin: 0;
  padding-left: 18px;
}

.popular_tools_btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.popular_tools_btn:hover svg path {
  fill: #fd3b41;
  margin: 0;
}

.popular_tools_title {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.popular_tools_but {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.popular_tools_button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 106px;
  height: 42px;
  cursor: pointer;
}
.popular_tools_box {
  display: flex;
  justify-content: space-between;
}

.popular_tools_button:hover {
  padding: 0;

  border-radius: 8px;
  background: #ff6e30;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #fdf5ff;
  border: none;
}
.popular_tools_item {
  width: 392px;
  height: 294px;
  padding: 33px;
}

.popular_tools_item:hover {
  border-radius: 15px;
  background: rgba(40, 48, 54, 0.6);
  backdrop-filter: blur(25px);
  padding-bottom: 120px;
}

.popular_tools_textt {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.popular_tools_textbox {
  display: flex;
  gap: 30px;
}

.popular_tools_textprice {
  color: rgba(255, 165, 55, 0.55);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.popular_tools_textbig {
  color: rgba(255, 255, 255, 0.78);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.popular_tools_list {
  display: flex;
  gap: 23px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  padding-top: 90px;
  padding-bottom: 100px;
}

.popular_tools_wrapper {
  display: flex;
  flex-direction: column;
}

.popular_tools_btns {
  display: flex;
  gap: 12px;
}

.search_form {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background: #283036;
  width: 497.659px;
  height: 64px;
  padding-left: 13px;
  align-items: center;
}

.popular_tools_text {
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.popular_tools_buttonn {
  color: #ff6e30;
  width: 184px;
  height: 64px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #1e252b;
}

.popular_tools_btn_container {
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
}

.brand_box {
  width: 1224px;
  height: 253px;
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  background: rgba(44, 53, 61, 0.2);
  backdrop-filter: blur(25px);
}

.brand_title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.brand_list {
  display: flex;
  gap: 107px;
  justify-content: center;
  padding-bottom: 0;
}

.newtools_title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.newtools_text {
  color: rgba(255, 255, 255, 0.55);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.newtools_btn {
  width: 198px;
  height: 58px;
  border-radius: 8px;
  background: #ff6e30;
  border: none;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.newtools_wrapper {
  display: flex;
  flex-direction: column;
}

.newtools_card {
  display: flex;
  gap: 30px;
}

.newtools_textt {
  color: rgba(255, 255, 255, 0.78);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.newtools_textprice {
  color: rgba(255, 165, 55, 0.55);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.newtools_text {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.newtools_box {
  display: flex;
  justify-content: space-between;
}

.newtools_btns {
  display: flex;
  gap: 12px;
}

.newtools_btnn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.newtools_btnn:hover svg path {
  fill: #fd3b41;
  margin: 0;
}

.newtools_but {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.newtools_button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 106px;
  height: 42px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.newtools_item {
  width: 310px;
  height: 284px;
  padding: 28px 21px 28px 21px;
}

.newtools_item:hover {
  border-radius: 15px;
  background: rgba(40, 48, 54, 0.6);
  backdrop-filter: blur(25px);
}

.newtools_button:hover {
  padding: 0;

  border-radius: 8px;
  background: #ff6e30;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #fdf5ff;
  border: none;
}

.newtools .container {
  display: flex;
  justify-content: space-between;
}

.newtools_list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 50px;
  width: 684px;
  padding: 0;
}

.newtools_descrbox {
  width: 427px;
}

.me_container {
  padding-top: 253px;
}

.me_text {
  color: rgba(255, 255, 255, 0.78);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.21px;
  display: flex;
}

.newtools {
  padding: 220px 0;
}
